# dependencies
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# Environment variables
/backend/.env

# other
/frontend/src/styling/App.css
/frontend/src/styling/App.css.map
/backend/database/info.sql
/backend/public