.fas {
  color: white;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
    color: gray;
  }
  &.fa-fingerprint {
    color: gray;
  }
}

.fa-exclamation-circle {
  margin-right: auto;
  margin-left: 15px;
  width: 30px;
  transform: scale(2);
  color: red;
  left: 20px;
  top: 1em;
  &:hover {
    transform: scale(2);
  }
}

.fa-home {
  @extend .fas;
  margin: auto;
  transform: scale(1.2);
  &:hover {
    transform: scale(1.4);
  }
  &:active {
    transform: scale(1.2);
  }
}

.fa-arrow-left {
  position: absolute;
  left: 15px;
}

.fa-arrow-right {
  position: absolute;
  right: 1%;
}

.fa-trash-alt {
  @include flexit();
  color: white;
  pointer-events: none;
}

.fa-long-arrow-alt-left {
  transform: scale(2);
  pointer-events: none;
}

.fa-folder {
  color: rgb(20, 82, 175);
  pointer-events: none;
}

.fa-solid {
  color: black;
}

.fa-folder-plus, .fa-plus-circle {
  margin-right: 15px;
}

.category-circle {
  margin-left: auto;
  margin-right: 15px;
  &:hover {
    transform: scale(1);
  }
}


// 404 Errors
.fa-binoculars {
  color: rgb(20, 82, 175);
  pointer-events: none;
  margin-bottom: 5%;
}

.fa-user-slash {
  @extend .fa-binoculars;
}
