.input-overlay {
  @include flexit();
  background-color: rgba(204, 204, 204, 0.582);
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0px;
  inset: 0px;
  z-index: 100;
}

.create-item-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 35em;
  width: 42%;
  box-shadow: rgb(155, 155, 155) -1px 1px 5px 1px;
}

.form-content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.input-label {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
  margin: 2% 6% 1% 6%;
  > .input-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
  }
  > .text-input {
    padding: 0 0 0 2%;
    line-height: 2.5em;
    border-radius: 5px;
  }
  > .word-input {
    padding: 2% 2% 0 2%;
    border-radius: 5px;
    line-height: 1.2em;
    height: 12em;
    resize: none;
  }
}

.input-error {
  font-style: italic;
  color: rgb(153, 153, 153);
}

.forbidden-input {
  border: solid rgb(235, 11, 11) 2px;
  outline: none;
}

.submit-form {
  display: flex;
  justify-content: space-between;
  height: 10%;
  margin: 2% 6% 3% 6%;
  > .submit-form-button {
    height: 100%;
    flex-basis: 25%;
    padding: 5px;
    background-color: rgb(86, 194, 226);
    color: white;
    &:hover {
      background-color: rgb(60, 202, 119);
      border-color: rgb(60, 202, 119);
    }
    &:active {
      background-color: rgb(54, 163, 100);
      color: rgb(238, 238, 238);
    }
  }
  > .error-field {
    @include flexit();
    height: 100%;
    flex-basis: 70%;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
  }
  > .invalid-form {
    border: solid rgb(189, 15, 166);
  }
}

.error-description {
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.overlay-nav {
  display: flex;
  align-items: center;
  height: 10%;
  background-color: rgb(56, 56, 56);
  padding-left: 3%;
  margin-left: 0px;
  color: white;
  > .extra-info {
    color:rgb(205, 204, 203);
    margin: 0px 5px 0px 10px;
  }
  > .exit-button {
    background-color: rgb(56, 56, 56);
    height: 100%;
    width: 10%;
    margin-left: auto;
    font-weight: bold;
    border-left: solid rgb(233, 233, 233);
    border-width: 0px 0px 0px 3px;
    color: white;
    &:hover {
      background-color: rgb(236, 76, 18);
      border-color: rgb(236, 76, 18);
    }
    &:active {
      color: rgb(233, 233, 233);
      background-color: rgb(209, 69, 18);
      border-color: rgb(209, 69, 18);
    }
  }
}

.color-info {
  display: flex;
  align-items: center;
  line-height: 2.5em;
  margin: 2% 6% 3% 6%;
}

input[type="color"] {
  appearance: none;
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  &::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}

input[type="radio"] {
  cursor: pointer;
  margin-left: 7px;
  vertical-align: middle;
}

.radio-label {
  cursor: pointer;
  margin: 0px 20px 0px 15px;
}

.radio-container {
  display: flex;
  justify-content: space-around;
  border: inset rgb(118, 118, 118) 2px;
  border-radius: 5px;
}

#dropdown {
  padding: 7px;
}