@keyframes shakeIt {
  25% {
    transform: rotate(3deg);
  }
  55% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes lightIt {
  50% {
    transform: scale(1.1);
  }
  100% {
    color: white;
    background-color: rgb(33, 223, 33);
    transform: scale(1);
  }
}

@keyframes onlyLightIt {
  100% {
    color: white;
    background-color: rgb(33, 223, 33);
  }
}

@keyframes emphasis {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideLeftIn {
  0% {
    margin-left: -1%;
    opacity: 0.1;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes slideRightIn {
  0% {
    margin-left: 1%;
    opacity: 0.1;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}
