@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

@mixin flexit() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  @include flexit();
  justify-content: space-between;
  padding-left: 1.2%;
  padding-right: 1.2%;
  height: 7vh;
}

.profile-navbar {
  @extend .navbar;
  justify-content: flex-end;
}

#progress-bar {
  background-color: rgb(252, 96, 40) !important;
  max-width: 100%;
  height: 3px;
  transition: 1s;
}

.fas {
  color: white;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
    color: gray;
  }
}

.fa-home {
  @extend .fas;
  transform: scale(1.2);
  &:hover {
    transform: scale(1.4);
  }
  &:active {
    transform: scale(1.2);
  }
}

.fa-exclamation-circle {
  margin-right: auto;
  margin-left: 10px;
  width: 30px;
  transform: scale(2);
  color: red;
  left: 20px;
  top: 1em;
  &:hover {
    transform: scale(2);
  }
}

.fa-trash-alt {
  @include flexit();
  color: black;
}

.deck-input-overlay {
  @include flexit();
  background-color: rgba(204, 204, 204, 0.582);
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0px;
  inset: 0px;
}

.create-deck-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 35em;
  width: 50%;
  box-shadow: rgb(155, 155, 155) -1px 1px 5px 1px;
}

.input-label {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
  margin: 2% 6% 3% 6%;
  > .input-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
  }
  > .text-input {
    padding: 0 0 0 2%;
    border-radius: 5px;
  }
  > .word-input {
    padding: 2% 2% 0 2%;
    border-radius: 5px;
    line-height: 1.2em;
    height: 12em;
    resize: none;
  }
}

.input-error {
  font-style: italic;
  color: rgb(153, 153, 153);
}

.forbidden-input {
  border: solid rgb(235, 11, 11) 2px;
  outline: none;
}

.submit-deck {
  display: flex;
  justify-content: space-between;
  height: 10%;
  margin: 2% 6% 3% 6%;
  > .submit-deck-button {
    height: 100%;
    flex-basis: 25%;
    padding: 5px;
    background-color: rgb(86, 194, 226);
    color: white;
    &:hover {
      background-color: rgb(60, 202, 119);
      border-color: rgb(60, 202, 119);
    }
    &:active {
      background-color: rgb(54, 163, 100);
      color: rgb(238, 238, 238);
    }
  }
  > .error-field {
    @include flexit();
    height: 100%;
    flex-basis: 70%;
    text-align: center;
    border-radius: 5px;
  }
  > .invalid-form {
    border: solid rgb(189, 15, 166);
  }
}

.error-description {
  margin-right: auto;
}

.overlay-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: rgb(56, 56, 56);
  padding-left: 3%;
  color: white;
  > .exit-button {
    background-color: rgb(56, 56, 56);
    height: 100%;
    width: 10%;
    font-weight: bold;
    border-left: solid rgb(233, 233, 233);
    border-width: 0px 0px 0px 3px;
    color: white;
    &:hover {
      background-color: rgb(236, 76, 18);
      border-color: rgb(236, 76, 18);
    }
    &:active {
      color: rgb(233, 233, 233);
      background-color: rgb(209, 69, 18);
      border-color: rgb(209, 69, 18);
    }
  }
}

.deck-footer {
  @include flexit();
  height: 30px;
  width: 100%;
  background-color: rgb(231, 231, 231);
  position: absolute;
  bottom: 0px;
}

.profile-content {
  height: auto;
  overflow: auto;
  min-height: 93vh;
  display: flex;
  flex-direction: row;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 200px;
  height: auto;
  min-height: 100%;
  margin: 0;
  box-shadow: gainsboro 2px -1px 2px;
  background: linear-gradient(-180deg, rgb(255, 238, 82), white);
}

.user-image {
  max-width: 50%;
  height: auto;
  border-radius: 20%;
  margin: 5% 0 5% 0;
}

.username {
  font-family: Taviraj, Cambria;
  text-align: center;
  line-height: 3em;
  font-size: 120%;
  height: 3em;
  width: 100%;
  background-color: rgb(255, 231, 17);
  border: solid black;
  border-width: 2px 0 2px 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(150px, 250px));
  column-gap: 30px;
  row-gap: 30px;
  grid-template-rows: repeat(auto-fill, minmax(200px, 300px));
  height: auto;
  width: 80%;
  padding: 50px 0 0 20px;
  justify-content: center;
}

.deck {
  @include flexit();
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 150px;
  min-height: 200px;
  margin: 0 10px 30px 0;
  border-radius: 10%;
  overflow: hidden;
  box-shadow:rgb(223, 223, 223) 0px 0px 5px 1px;
  cursor: pointer;
}

.deck-thumbnail {
  width: 50%;
  height: 50%;
}

.intro-word {
  @include flexit();
  height: 90vh;
  background-color: #ffffff;
  justify-content: space-around;
  flex-direction: row;
}

.intro-text {
  @include flexit();
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 15vh;
  width: 40vw;
  border: solid rgb(62, 162, 255);
  min-height: 60px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    border-color: rgb(213, 224, 110);
    transition: 0.15s;
    > .text-number-box {
        background-color: rgb(213, 224, 110);
        transition: 0.2s;
    }
  }
}

.text-intro-box {
  @include flexit();
  flex-direction: column;
}

.continue {
  color: gray;
  opacity: 0.7;
  margin-top: 3%;
}

.continue-icon {
  margin-right: 5px;
}

.intro-img-box {
  @include flexit();
  position: relative;
  border-radius: 10px;
  min-height: 150px;
  min-width: 100px;
  height: 80vh;
  width: 50vw;
  }

.intro-img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}

.ask-from-picture {
  @extend .intro-word;
}

.text-option {
  @extend .intro-text;
  margin-bottom: 25px;
  position: relative;
  top: 1vh;
  border-radius: 1vh;
}

.text-number-box {
  @include flexit();
  color: white;
  background-color: rgb(62, 162, 255);
  height: 100%;
  width: 8%;
  padding: 5px;
  position: absolute;
  left: 0px;
  font-size: 90%;
  border-radius: 3px 1px 1px 3px;
  cursor: pointer;
  z-index: 1;
  }

.option-text {
  font-size: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 125%;
  line-height: 1.4em;
  margin-left: 6vw;
  margin-right: 3vw;
}

.ask-from-text-box {
  @include flexit();
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.ask-from-text {
  @extend .intro-text;
  margin-top: 9vh;
  border-color: gray;
}

.image-options {
  @include flexit();
  margin: 0px 30px 20px 30px;
  border-radius: 15px;
}

.image-option-box {
  @include flexit();
  flex-direction: column;
  margin: 5px;
  box-shadow: -1px 1px 5px rgb(161, 160, 160);
  border-radius: 25px;
  &:hover {
    transform: scale(1.03);
  }
  cursor: pointer;
}

.image-option {
  min-height: 150px;
  max-width: 100%;
  width: 25vw;
  height: 45vh;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 1px 1px rgb(197, 197, 197);
}

.image-number-box {
  @include flexit();
  font-family: 'Taviraj', serif;
  font-size: 140%;
  font-weight: bold;
  color: black;
  height: 7vh;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  cursor: pointer;
}

.incorrect-answer {
  opacity: 0.2;
  background-color: #DDD;
  animation-name: shakeIt;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  border-color: rgb(62, 162, 255) !important;
  cursor: default;
}

.correct-answer {
  animation-name: lightIt;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  border-color: black !important;
}

.correct-number {
  color: white;
  background-color: black !important;
}

.incorrect-number {
  background-color: rgb(62, 162, 255) !important;
  cursor: default;
}

.correct-image-number {
  @extend .correct-answer;
  animation-name: onlyLightIt;
}

.incorrect-image-number {
  background-color: rgb(228, 228, 228) !important;
  cursor: default;
}

.load-page {
  animation-name: slideLeftIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

.load-page-2 {
  animation-name: slideRightIn;
  @extend .load-page;
}

.emphasize {
  animation-name: emphasis;
  animation-duration: 0.7s;
}


@import "media_queries";
@import "animations";