@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

@mixin flexit() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "animations";
@import "font_awesome";
@import "profile_page";
@import "question_page";
@import "overlay";
@import "media_queries";