@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");
.navbar, .profile-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2%;
  padding-right: 1.2%;
  height: 7vh;
}

.profile-navbar > .fa-folder-plus {
  margin-left: auto;
}

#progress-bar {
  background-color: #fc6028 !important;
  max-width: 100%;
  height: 3px;
  transition: 1s;
}

.fas, .fa-home {
  color: white;
  cursor: pointer;
  margin: 0 5px 0 15px;
}
.fas:hover, .fa-home:hover {
  transform: scale(1.2);
}
.fas:active, .fa-home:active {
  transform: scale(1);
  color: gray;
}

.fa-home {
  transform: scale(1.2);
}
.fa-home:hover {
  transform: scale(1.4);
}
.fa-home:active {
  transform: scale(1.2);
}

.fa-trash-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.deck-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: #e7e7e7;
  position: absolute;
  bottom: 0px;
}

.profile-content {
  height: auto;
  overflow: auto;
  min-height: 93vh;
  display: flex;
  flex-direction: row;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 200px;
  height: auto;
  min-height: 100%;
  margin: 0;
  box-shadow: gainsboro 2px -1px 2px;
  background: linear-gradient(-180deg, #ffee52, white);
}

.user-image {
  max-width: 50%;
  height: auto;
  border-radius: 20%;
  margin: 5% 0 5% 0;
}

.username {
  font-family: Taviraj, Cambria;
  text-align: center;
  line-height: 3em;
  font-size: 120%;
  height: 3em;
  width: 100%;
  background-color: #ffe711;
  border: solid black;
  border-width: 2px 0 2px 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  column-gap: 30px;
  row-gap: 30px;
  grid-template-rows: repeat(auto-fill, minmax(200px, 300px));
  height: auto;
  width: 80%;
  padding: 50px 0 0 20px;
  justify-content: center;
}

.deck, .folder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 150px;
  min-height: 200px;
  margin: 0 10px 30px 0;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: #dfdfdf 0px 0px 5px 1px;
  cursor: pointer;
}

.deck-thumbnail {
  width: 50%;
  height: 50%;
}

.folder-img {
  height: auto;
  max-width: 100%;
}

.intro-word, .ask-from-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #ffffff;
  justify-content: space-around;
  flex-direction: row;
}

.intro-text, .ask-from-text, .text-option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 15vh;
  width: 40vw;
  border: solid #3ea2ff;
  min-height: 60px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.intro-text:hover, .ask-from-text:hover, .text-option:hover {
  border-color: #d5e06e;
  transition: 0.15s;
}
.intro-text:hover > .text-number-box, .ask-from-text:hover > .text-number-box, .text-option:hover > .text-number-box {
  background-color: #d5e06e;
  transition: 0.2s;
}

.text-intro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.continue {
  color: gray;
  opacity: 0.7;
  margin-top: 3%;
}

.continue-icon {
  margin-right: 5px;
}

.intro-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  min-height: 150px;
  min-width: 100px;
  height: 80vh;
  width: 50vw;
}

.intro-img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}

.text-option {
  margin-bottom: 25px;
  position: relative;
  top: 1vh;
  border-radius: 1vh;
}

.text-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3ea2ff;
  height: 100%;
  width: 8%;
  padding: 5px;
  position: absolute;
  left: 0px;
  font-size: 90%;
  border-radius: 3px 1px 1px 3px;
  cursor: pointer;
  z-index: 1;
}

.option-text {
  font-size: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 125%;
  line-height: 1.4em;
  margin-left: 6vw;
  margin-right: 3vw;
}

.ask-from-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.ask-from-text {
  margin-top: 9vh;
  border-color: gray;
}

.image-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 20px 30px;
  border-radius: 15px;
}

.image-option-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  box-shadow: -1px 1px 5px #a1a0a0;
  border-radius: 25px;
  cursor: pointer;
}
.image-option-box:hover {
  transform: scale(1.03);
}

.image-option {
  min-height: 150px;
  max-width: 100%;
  width: 25vw;
  height: 45vh;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 1px 1px #c5c5c5;
}

.image-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Taviraj", serif;
  font-size: 140%;
  font-weight: bold;
  color: black;
  height: 7vh;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  cursor: pointer;
}

.incorrect-answer {
  opacity: 0.2;
  background-color: #DDD;
  animation-name: shakeIt;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  border-color: #3ea2ff !important;
  cursor: default;
}

.correct-answer, .correct-image-number {
  animation-name: lightIt;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  border-color: black !important;
}

.correct-number {
  color: white;
  background-color: black !important;
}

.incorrect-number {
  background-color: #3ea2ff !important;
  cursor: default;
}

.correct-image-number {
  animation-name: onlyLightIt;
}

.incorrect-image-number {
  background-color: #e4e4e4 !important;
  cursor: default;
}

.load-page, .load-page-2 {
  animation-name: slideLeftIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

.load-page-2 {
  animation-name: slideRightIn;
}

.emphasize {
  animation-name: emphasis;
  animation-duration: 0.7s;
}

@media (max-height: 600px) {
  .ask-from-text {
    margin-top: 4vh;
  }

  .intro-text, .text-option, .ask-from-text {
    font-size: 150%;
  }

  .text-option {
    font-size: 110%;
    margin-bottom: 10px;
  }
}
@media (max-height: 500px) {
  .navbar, .profile-navbar {
    height: 40px;
  }

  .intro-word, .ask-from-picture {
    height: 85vh;
  }

  .intro-text, .text-option, .ask-from-text {
    font-size: 120%;
  }

  .text-option {
    font-size: 110%;
    margin-bottom: 10px;
  }

  .ask-from-text {
    margin-top: 5vh;
  }

  .image-number-box {
    height: 10vh;
  }

  .image-option {
    height: 35vh;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .intro-text, .text-option, .ask-from-text {
    width: 60vw;
  }

  .text-option {
    font-size: 3vh;
    width: 40vw;
  }

  .text-number-box {
    width: 15%;
  }

  .ask-from-text {
    margin-top: 4vh;
  }

  .image-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image-option {
    width: 35vh;
    height: 25vh;
  }

  .intro-word, .ask-from-picture {
    flex-direction: column;
    height: 90vh;
  }

  .text-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}
@media (max-width: 480px) {
  .navbar, .profile-navbar {
    padding-left: 3%;
    padding-right: 3%;
  }

  .intro-word, .ask-from-picture {
    flex-direction: column;
    height: 90vh;
  }

  .intro-text, .text-option, .ask-from-text {
    font-size: 130%;
    width: 60vw;
  }

  .intro-img-box {
    height: 65vh;
    width: 75vw;
  }

  .intro-img {
    height: 100%;
    width: 100%;
  }

  .text-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .text-number-box {
    width: 14%;
  }

  .text-option {
    width: 40vw;
  }

  .option-text {
    font-size: 100%;
    margin-left: 6vw;
    margin-right: 0px;
  }

  .ask-from-text {
    margin-top: 4vh;
  }

  .image-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image-option {
    min-height: 50px;
    max-width: 100%;
    width: 40vw;
    height: 25vh;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 1px 1px #c5c5c5;
  }

  .create-deck-info {
    height: 100%;
    width: 100%;
  }
}
@keyframes shakeIt {
  25% {
    transform: rotate(3deg);
  }
  55% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes lightIt {
  50% {
    transform: scale(1.1);
  }
  100% {
    color: white;
    background-color: #21df21;
    transform: scale(1);
  }
}
@keyframes onlyLightIt {
  100% {
    color: white;
    background-color: #21df21;
  }
}
@keyframes emphasis {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideLeftIn {
  0% {
    margin-left: -1%;
    opacity: 0.1;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}
@keyframes slideRightIn {
  0% {
    margin-left: 1%;
    opacity: 0.1;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}
.fa-exclamation-circle {
  margin-right: auto;
  margin-left: 15px;
  width: 30px;
  transform: scale(2);
  color: red;
  left: 20px;
  top: 1em;
}
.fa-exclamation-circle:hover {
  transform: scale(2);
}

.deck-input-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.582);
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0px;
  inset: 0px;
}

.create-deck-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 35em;
  width: 50%;
  box-shadow: #9b9b9b -1px 1px 5px 1px;
}

.input-label {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
  margin: 2% 6% 3% 6%;
}
.input-label > .input-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}
.input-label > .text-input {
  padding: 0 0 0 2%;
  border-radius: 5px;
}
.input-label > .word-input {
  padding: 2% 2% 0 2%;
  border-radius: 5px;
  line-height: 1.2em;
  height: 12em;
  resize: none;
}

.input-error {
  font-style: italic;
  color: #999999;
}

.forbidden-input {
  border: solid #eb0b0b 2px;
  outline: none;
}

.submit-deck {
  display: flex;
  justify-content: space-between;
  height: 10%;
  margin: 2% 6% 3% 6%;
}
.submit-deck > .submit-deck-button {
  height: 100%;
  flex-basis: 25%;
  padding: 5px;
  background-color: #56c2e2;
  color: white;
}
.submit-deck > .submit-deck-button:hover {
  background-color: #3cca77;
  border-color: #3cca77;
}
.submit-deck > .submit-deck-button:active {
  background-color: #36a364;
  color: #eeeeee;
}
.submit-deck > .error-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-basis: 70%;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}
.submit-deck > .invalid-form {
  border: solid #bd0fa6;
}

.error-description {
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.overlay-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: #383838;
  padding-left: 3%;
  color: white;
}
.overlay-nav > .exit-button {
  background-color: #383838;
  height: 100%;
  width: 10%;
  font-weight: bold;
  border-left: solid #e9e9e9;
  border-width: 0px 0px 0px 3px;
  color: white;
}
.overlay-nav > .exit-button:hover {
  background-color: #ec4c12;
  border-color: #ec4c12;
}
.overlay-nav > .exit-button:active {
  color: #e9e9e9;
  background-color: #d14512;
  border-color: #d14512;
}

/*# sourceMappingURL=App.css.map */
